{% extends 'base.html.twig' %}

{% block title %}Categoriecodepromo{% endblock %}

{% block body %}
    <h1>Categoriecodepromo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idccp</th>
                <td>{{ categoriecodepromo.idccp }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ categoriecodepromo.code }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ categoriecodepromo.valeur }}</td>
            </tr>
            <tr>
                <th>Limite</th>
                <td>{{ categoriecodepromo.limite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categoriecodepromo_index') }}">back to list</a>

    <a href="{{ path('app_categoriecodepromo_edit', {'idccp': categoriecodepromo.idccp}) }}">edit</a>

    {{ include('categoriecodepromo/_delete_form.html.twig') }}
{% endblock %}
