{% extends 'base.html.twig' %}

{% block title %}Ticketp{% endblock %}

{% block body %}
    <h1>Ticketp</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>TicketpId</th>
                <td>{{ ticketp.ticketpId }}</td>
            </tr>
            <tr>
                <th>TicketId</th>
                <td>{{ ticketp.ticketId }}</td>
            </tr>
            <tr>
                <th>ClientId</th>
                <td>{{ ticketp.clientId }}</td>
            </tr>
            <tr>
                <th>EnchereId</th>
                <td>{{ ticketp.enchereId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ticketp_index') }}">back to list</a>

    <a href="{{ path('app_ticketp_edit', {'ticketpId': ticketp.ticketpId}) }}">edit</a>

    {{ include('ticketp/_delete_form.html.twig') }}
{% endblock %}
