{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdC</th>
                <th>NomC</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.idC }}</td>
                <td>{{ categorie.nomC }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'idC': categorie.idC}) }}">show</a>
                    <a href="{{ path('app_categorie_edit', {'idC': categorie.idC}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">Create new</a>
{% endblock %}
